<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
<head>
	<title>Add A Student</title>
</head>
<body>
	<div id="entry" align="center">
		<ul type="none">
			<form action="" method="post">
				<li>Student Id</li>
				<li><input type="text" name="id" required></li>
				<li>Student Name</li>
				<li><input type="text" name="name" required></li>
				<li>Gender</li>
				<li><input type="radio" name="gender" value="Male" required>Male</li>
				<li><input type="radio" name="gender" value="Female" required>Female</li>
				<li>Date of Birth</li>
				<li><input type="date" name="date" required></li>
				<li>City</li>
				<li><input type="text" name="city" required></li>
				<li>State</li>
				<li><input type="text" name="state" required></li>
				<li>Email Id</li>
				<li><input type="text" name="email" required></li>
				<li>Qualification</li>
				<li><input type="text" name="qual" required></li>
				<li>Stream</li>
				<li><input type="text" name="stream" required></li>
				<li><input type="submit" class="submit" value="Submit"></li>
			</form>
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
							<li>{{message}}</li>
						{% endfor %}
					{% endif %}
				{% endwith %}
				<li><button class="submit" onclick="window.location='/'">Home</button></li>
		</ul>
	</div>
</body>
</html>