<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
<head>
	<title>Display all Students</title>
</head>
<body>
	<div id="lists" align="center">
		<table class="table-display">
			<tr>
				{% for key in result[0] %}
					<th>{{key}}</th>
				{% endfor %}
			</tr>
			{% for lines in result[1:] %}
				<tr>
					{% for value in lines %}
						<td>{{value}}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<p style="color:#000000";>{{message}}</p>
				{% endfor %}
			{% endif %}
			{% endwith %}
		<button class="submit" onclick="window.location='/'">Home</button>
	</div>
</body>
</html>