<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
<head>
	<title>Student Dashboard</title>
</head>
<body>
	<ul id="list" type="none" align="center">
		<li><button class="button" onclick="window.location='add'">Add Student</button></li>
		<li><button class="button" onclick="window.location='search'">Search Student</button></li>
		<li><button class="button" onclick="window.location='display'">Display all Students</button></li>
	</ul>
</body>
</html>