<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}">
<head>
	<title>Search Student by College Id</title>
</head>
<body>
	<div class="search" align="center">
		<form action="" method="post">
			<p style="font-family:sans-serif">Student ID</p>
			<input type="text" name="id"><br>
			<input type="submit" class="submit" name="Submit">
		</form>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<p>{{messages}}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% if data %}
			{% for key,value in result.items() %}
				<table class="table-search" >
					<tr>
						<th>{{key}}</th>
						<td>{{value}}</td>
					</tr>
				</table>
			{% endfor %}
		{% endif %}
		<button class="submit" onclick="window.location='/'">Home</button>
	</div>

</body>
</html>