body{
	/*background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 25%, rgba(0,212,255,1) 83%);*/
	background: #007fff;
	/*background-image: linear-gradient(to right top, #004dff, #0091ff, #00b9ff, #00d7b0, #12eb4c);*/
}

#list{
	background: #e6e6e6;
	color: white;
	font-family: sans-serif;
	align-self: center;
	width: 1000px;
	/*height: 500px;*/
	margin: 100px auto;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,2);

}
.button{
	background: white;
	color: black;
	font-family: 'Nunito',sans-serif;
	font-size: 200%;
	margin: 50px 20px;
	padding: 10px;
	text-align: center;
	position: relative;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.button:hover,.submit:hover{
	background: #004dff;
	color: white;
	cursor: pointer;
	
}

#entry{
	background: #e6e6e6;
	color: black;
	width: 300px;
}

.submit{
	background: white;
	color: black;
	font-family: 'Nunito',sans-serif;
	font-size: 100%;
	margin: 10px 50px;
	padding: 10px;
	text-align: center;
	position: relative;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.search{
	background: #e6e6e6;
	color: black;
	padding: 20px;
	width: 500px;
	margin: 100px auto;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,2);
}

.table-search{
	width: 400px;
	overflow: hidden;
}

.table-search th{
	background-color: #007fff;
	color: white;
	text-align: left;
	font-weight: bold;
}

.table-search th,.table-search td{
	padding: 12px 15px;
	width:16.6%;
  	word-break: break-all;
  	border: 1px solid black;
}

.table-search tbody tr{
	border-bottom: 1px solid #e6e6e6;
}

.table-search tbody tr:last-of-type {
	border-bottom: 2px solid #007fff;
}

.table-display{

}