body{
	background: #007fff;
}

#list{
	background: #e6e6e6;
	color: white;
	font-family: sans-serif;
	align-self: center;
	width: 1000px;
	margin: 100px auto;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,2);

}
.button{
	background: white;
	color: black;
	font-family: 'Nunito',sans-serif;
	font-size: 200%;
	margin: 50px 20px;
	padding: 10px;
	text-align: center;
	position: relative;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.button:hover,.submit:hover{
	background: #004dff;
	color: white;
	cursor: pointer;
	
}

#entry{
	font-family: sans-serif;
	background: #e6e6e6;
	color: black;
	width: 300px;
	align-self: center;
	margin: 100px auto;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,2);
}

.submit{
	background: white;
	color: black;
	font-family: 'Nunito',sans-serif;
	font-size: 100%;
	margin: 10px 50px;
	padding: 10px;
	text-align: center;
	position: relative;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.search{
	font-family: sans-serif;
	background: #e6e6e6;
	color: black;
	padding: 20px;
	width: 500px;
	margin: 100px auto;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,2);
}

.table-search{
	width: 400px;
	overflow: hidden;
}

.table-search th{
	background-color: #007fff;
	color: white;
	text-align: left;
	font-weight: bold;
}

.table-search th,.table-search td{
	padding: 12px 15px;
	width:16.6%;
  	word-break: break-all;
  	border: 1px solid black;
}

.table-search tbody tr{
	border-bottom: 1px solid #e6e6e6;
}

.table-search tbody tr:last-of-type {
	border-bottom: 2px solid #007fff;
}

.table-display{
	border-collapse: collapse;
	color: black;
  	margin: 25px 0;
	font-size: 90%;
	min-width: 400px;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-display th{
  background-color: #007fff;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.table-display th,
.table-display td {
  padding: 12px 15px;
}

.table-display tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-display tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-display tbody tr:last-of-type {
  border-bottom: 5px solid #007fff;
}